/* page reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

/* backgroundgradient and global font*/

body {
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    font-family: "Poppins", sans-serif;
    color: black;
}

.body-div{
    padding: 0 25px;

}


a {
    font-size: 21px;
    color: black;
}

/* nav styling*/

.nav-container {
    margin: 25px;
    display: flex;
    justify-content: space-between;
    background-color: blue;
    height: 700px;
}


/*nav-items styling*/

.nav-items {
    background-image: url('assets/shoe.jpg');
    /* height: 100vh; */
    /* width: 50%; */
    
}
.nav-items ul {
    display: flex;
    gap: 80px;
    
}


/* main image styling */



/* first section text styling*/
span {
    color: red;
}

h1 {
    font-size: 3rem;
    margin-top: 2em;
    line-height: 3.3rem;
}

.main-section {
    margin: 25px;
    display: flex;
}

.subhead {
    font-size: 1.4rem;
}

.title {
    font-weight: bold;
    font-size: 1.25rem;
}

.desc {
    line-height: 1.5rem;
}




/* arrow svg styling */

.down-arrow {
    width: 1em;
    padding-top: 20px;
}



/* second section image and text styling */

/* .imgs{
    height: 35em;
    width: 100%;
    border-radius: 10px;
} */

.second-section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 48px;
}


.second-section img {
    height: 35em;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.txt-content{
    align-self: center;
}

@media only screen and (min-width: 786px) {
    .hero-img{
        display: none;
    }
  }